<div class="reports-container">
    <h1 class="title">Reportes de la Comunidad</h1>
  
    <div class="filters-container">
      <label for="important-filter">Prioridad:</label>
      <select id="important-filter" [(ngModel)]="selectedImportant" (change)="filterReports()">
        <option value="">Importante</option>
        <option [value]="1">Si</option>
        <option [value]="0">NO</option>
      </select>
    </div>
  
    <div class="reports-list">
      <!-- (click)="showReportDetails(report.id) -->
      <div *ngFor="let report of filteredReports" class="report-item">
        <div class="report-card">
          <div class="report-thumbnail">
            <div id="map-{{report.id}}" style="height: 300px; width: 100%;"></div>
          </div>
          <!-- detalles -->
          <div class="report-details" *ngIf="selectedReport?.reporteId !== report.id">
            <div class="map-coordinates">
              Latitud: {{ report.ubicacion.latitud }}, Longitud: {{ report.ubicacion.longitud }}
            </div>
            <h2 class="report-title">{{ report.titulo }}</h2>
            <p class="report-category">{{ report.nombreCategoria }}</p>
            <p class="report-description">{{ report.descripcion  }}</p>
            <div class="report-meta">
              <span class="report-date">{{ report.fecha | date }}</span>
              <span class="report-priority">
                <label class="checkbox-label" for="important-checkbox-{{report.id}}">Importante</label>
                <input type="checkbox" id="important-checkbox-{{report.id}}" [checked]="report.contadorImportante" (change)="markAsImportant($event, report.id)"/>
              </span>
              <div class="my-report-actions">
                <button (click)="showReportDetails(report.id)">Comentarios</button>
              </div>
            </div>
          </div>
          <!-- comentarios -->
          <div *ngIf="selectedReport?.reporteId === report.id" class="report-details-comments">
            <h3>Comentarios</h3>
            <div *ngIf="selectedReport.comentarios.length > 0; else noComments" class="comments-scroll">
              <div *ngFor="let comment of selectedReport.comentarios" class="comment-item">
                <strong>{{ comment.nombreCliente }} :</strong> {{ comment.mensaje }}
              </div>
            </div>
            <ng-template #noComments>
              <p>No hay comentarios aún.</p>
            </ng-template>
            <div class="my-report-actions">
              <button (click)="selectedReport = null">
                ← Regresar
              </button>
            </div>
          </div>
        </div>

      </div>
    </div>
  
  </div>