<div class="reports-container">
    <h1 class="title">Reportes de la Comunidad</h1>
  
    <div class="filters-container">
      <label for="category-filter">Filtrar por Categoría:</label>
      <select id="category-filter" [(ngModel)]="selectedCategory" (change)="filterReports()">
        <option value="">Todas las Categorías</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>
  
    <div class="reports-list">
      <div *ngFor="let report of filteredReports" class="report-item" (click)="showReportDetails(report.id)">
        <div class="report-thumbnail">
          <img *ngIf="report.images && report.images.length > 0" [src]="report.images[0]" alt="Report Image">
          <div *ngIf="!report.images || report.images.length === 0" class="no-image">Sin Imagen</div>
        </div>
        <div class="report-details">
          <h2 class="report-title">{{ report.title }}</h2>
          <p class="report-category">{{ report.category }}</p>
          <p class="report-description">{{ report.description  }}</p>
          <div class="report-meta">
            <span class="report-date">{{ report.createdAt | date }}</span>
            <span class="report-priority">
              <button (click)="markAsImportant(report.id)" class="important-button">
                <i class="fas fa-exclamation-triangle"></i>
                {{ report.importantCount || 0 }}
              </button>
            </span>
          </div>
        </div>
      </div>
    </div>
  
    <div *ngIf="selectedReport" class="report-details-modal">
      <div class="modal-content">
        <span class="close-button" (click)="closeReportDetails()">&times;</span>
        <h2 class="modal-title">{{ selectedReport.title }}</h2>
        <p class="modal-category">{{ selectedReport.category }}</p>
        <p class="modal-description">{{ selectedReport.description }}</p>
        <div class="modal-images">
          <img *ngFor="let image of selectedReport.images" [src]="image" alt="Report Image">
        </div>
        <div class="modal-map" id="mapbox">
          </div>
        <div class="modal-comments">
          <h3>Comentarios</h3>
          <div *ngFor="let comment of selectedReport.comments" class="comment">
            <p class="comment-author">{{ comment.author }}</p>
            <p class="comment-text">{{ comment.text }}</p>
            <p class="comment-date">{{ comment.createdAt | date }}</p>
          </div>
          <textarea [(ngModel)]="newCommentText" placeholder="Escribe un comentario..."></textarea>
          <button (click)="addComment()">Publicar Comentario</button>
        </div>
      </div>
    </div>
  </div>