<div class="reports-container">
    <h1 class="title">Reportes de la Comunidad</h1>
  
    <div class="filters-container">
      <!-- <label for="category-filter">Filtrar por Categoría:</label>
      <select id="category-filter" [(ngModel)]="selectedCategory" (change)="filterReports()">
        <option value="">Todas las Categorías</option>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select> -->
    <div class="report-table">
      <table class="report-table">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Categoría</th>
            <th>Descripción</th>
            <th>Mapa</th>
            <th>Importante</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let reporte of reports">
            <td>{{ reporte.titulo }}</td>
            <td>{{ reporte.nombreCategoria }}</td>
            <td>{{ reporte.descripcion }}</td>
            <td>
              <a [href]="reporte.mapaUrl" target="_blank">Ver Mapa</a>
            </td>
            <td>{{ reporte.importante == 0 ? 'No' : 'Si' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>