<form [formGroup]="registroForm" (ngSubmit)="registrar()" novalidate="">
 <div>
   <label>Nombre: </label>
   <input type="text" formControlName="nombre" />
 </div>


 <div>
   <label>Teléfono: </label>
   <input type="number" formControlName="telefono" />
 </div>


 <div>
  <label>Ciudad: </label>
  <select formControlName="ciudad">
    <option value="">Seleccione una ciudad</option>
    <option *ngFor="let item of ciudades" [value]="item">{{item}}</option>
  </select>
</div>


 <div>
   <label>Dirección: </label>
   <input type="text" formControlName="direccion" />
 </div>


 <div>
   <label>Email: </label>
   <input type="email" formControlName="email" />
 </div>


 <div>
   <label>Contraseña: </label>
   <input type="password" formControlName="password" />
 </div>

 <div>
  <label>Repetir contraseña: </label>
  <input type="password" formControlName="confirmaPassword" />
  @if (registroForm.get('confirmaPassword')?.hasError('passwordsMismatch')) {
    <p class="error-message">Las contraseñas no coinciden</p>
  }
</div>
    

 <button type="submit" [disabled]="registroForm.invalid">Registrarse</button>
</form>