<div class="form-container">
  <h2>Crear Reporte</h2>
  <form [formGroup]="crearReporteForm" (ngSubmit)="crearReporte()">

    <div>
      <label>Título: </label>
      <input type="text" formControlName="titulo" />
    </div>

    <div>
      <label>Categoría: </label>
      <select formControlName="categoria">
        <option value="">Seleccione una categoría</option>
        <option *ngFor="let item of categorias" [value]="item">{{item}}</option>
      </select>
    </div>

    <div>
      <label>Descripción: </label>
      <textarea formControlName="descripcion"></textarea>
    </div>

    <div>
      <label>Ciudad: </label>
      <select formControlName="ciudad">
        <option value="">Seleccione una ciudad</option>
        <option *ngFor="let item of ciudades" [value]="item">{{item}}</option>
      </select>
    </div>

    <div id="map" #mapContainer class="map-container"></div>
    <label class="map-label">Haz clic o arrastra el marcador para seleccionar la ubicación</label>

    <div>
      <label>Ubicación: </label>
      <input type="text" formControlName="ubicacion" readonly />
    </div>

    <div>
      <label>Latitud:</label>
      <input type="hidden" formControlName="latitude">
    </div>

    <div>
      <label>Longitud:</label>
      <input type="hidden" formControlName="longitude">
    </div>

    <div>
      <label>Imagen reporte: </label>
      <input type="file" (change)="onFileChange($event)" />
    </div>

    <button type="submit">Crear reporte</button>

  </form>
</div>