<div class="settings-container">
    <h1 class="title">Configuración de la Cuenta</h1>
  
    <div class="settings-section">
      <h2 class="section-title">Datos Personales</h2>
      <form (ngSubmit)="updateProfile()" #profileForm="ngForm">
        <div class="form-group">
          <label for="nombre">Nombre Completo:</label>
          <input type="text" id="nombre" name="nombre" [(ngModel)]="userData.nombre" required />
        </div>
        <div class="form-group">
          <label for="ciudad">Ciudad de Residencia:</label>
          <input type="text" id="ciudad" name="ciudad" [(ngModel)]="userData.ciudad" />
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono:</label>
          <input type="tel" id="telefono" name="telefono" [(ngModel)]="userData.telefono" />
        </div>
         <div class="form-group">
          <label for="direccion">Dirección:</label>
          <input type="text" id="direccion" name="direccion" [(ngModel)]="userData.direccion" />
        </div>
        <div class="form-group">
          <label for="email">Correo Electrónico:</label>
          <input type="email" id="email" name="email" [(ngModel)]="userData.email" required />
        </div>
        <button type="submit" class="save-button" [disabled]="profileForm.invalid">
          Guardar Cambios
        </button>
      </form>
    </div>
  
    <div class="settings-section">
      <h2 class="section-title">Cambiar Contraseña</h2>
      <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
        <div class="form-group">
          <label for="currentPassword">Contraseña Actual:</label>
          <input type="password" id="currentPassword" name="currentPassword" [(ngModel)]="currentPassword" required />
        </div>
        <div class="form-group">
          <label for="newPassword">Nueva Contraseña:</label>
          <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required />
        </div>
        <div class="form-group">
          <label for="confirmPassword">Confirmar Nueva Contraseña:</label>
          <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required />
        </div>
        <button type="submit" class="save-button" [disabled]="passwordForm.invalid || newPassword !== confirmPassword">
          Cambiar Contraseña
        </button>
        <div *ngIf="passwordMismatch" class="error-message">Las contraseñas no coinciden.</div>
      </form>
    </div>
  
    <div class="settings-section">
      <h2 class="section-title">Eliminar Cuenta</h2>
      <p>¿Deseas eliminar tu cuenta? Esta acción es irreversible.</p>
      <button class="delete-account-button" (click)="openDeleteAccountConfirmation()">
        Eliminar Cuenta
      </button>
    </div>
  </div>