<div class="settings-container">
    <h1 class="title">Configuración de la Cuenta</h1>
  
    <div class="settings-section">
      <h2 class="section-title">Datos Personales</h2>
      <form (ngSubmit)="updateProfile()">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="userData.nombre" required />

        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad" [(ngModel)]="userData.ciudad" />

        <label for="telefono">Teléfono:</label>
        <input type="tel" id="telefono" name="telefono" [(ngModel)]="userData.telefono" />

        <button type="submit">Guardar cambios</button>
      </form>
    </div>
    <div class="settings-section">
      <h2 class="section-title">Eliminar Cuenta</h2>
      <p>¿Deseas eliminar tu cuenta? Esta acción es irreversible.</p>
      <button class="delete-account-button" (click)="openDeleteAccountConfirmation()">
        Eliminar Cuenta
      </button>
    </div>
  </div>